body {
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
}

h1{
    color: white;
    font-size: 72px;
    font-family: 'Amatic SC', cursive;
}

p{
    color: purple;
    font-family: 'Niconne', cursive;
}

#grad1 {
    background-image: linear-gradient(black, white, black);
}

h4{
    color: lightblue;
    font-family: 'Amatic SC', cursive;
}

.blue-button {
    border-radius: 20px;
    border-color: white;
    font-family: 'Amatic SC', cursive;
    color: black;
    font-size: 20px;
    text-align: center;
    background: lightblue;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    height: 45px;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}
.boy {
    float: right;
}
.girl-boy {
    float:left ; 
}
.girl {
    float: none;
}